<div class="parent-grid">
  <div class="child-item">
    <span style="color: blue">let</span> text = "
    <input
      name="userString"
      [style.width.ch]="userInput().length > 0 ? userInput().length : 2"
      style="min-width: 4ch; font-family: monospace; border: none; color: green"
      [(ngModel)]="userInput"
      placeholder="..."
    />
    ";

    <p><span style="color: blue">let</span> code = {{ resolvedOperation() }}</p>
    @if (hasPositionParameter()) {
      Position: <input type="number" [(ngModel)]="position" />
    }
    @if (hasStringParameter()) {
      String: <input type="text" [(ngModel)]="string" />
    }
    @if (hasStartAndEndPositions()) {
      Start: <input type="number" [(ngModel)]="startPosition" /><br /><br />
      End: <input type="number" [(ngModel)]="endPosition" />
    }
    <p class="console-header">
      <i class="fa-solid fa-border-none"></i>
      <i class="fa-solid fa-computer"></i>
      <span>Elements</span>
      <span class="console-console">Console</span>
      <i class="fa-solid fa-angles-right"></i>
    </p>
    <p class="console">
      <span>console.log(code)</span>
      <span class="console-output">
        {{ calculatedResult() }}
      </span>
    </p>
  </div>

  <div class="child-item">
    <div class="two-column-grid">
      @for (method of stringMethods; track $index) {
        <label class="grid-item">
          <input name="stringMethods" type="radio" (change)="onMethodChange(method)" />
          <span style="font-weight: bold"> {{ method.method }}</span>
        </label>
        <div class="grid-item">
          {{ method.description }}
        </div>
      }
    </div>
  </div>
</div>
