<form [formGroup]="regexForm">
  <section>
    <h4>Expression</h4>
    <span class="form-control">
      /<input
        type="text"
        formControlName="regexControl"
        [attr.size]="regexControlValue.length || -1"
        placeholder="Enter regex here"
      />/{{ chosenFlags() }}
    </span>
    <app-flags (chosenFlags)="onChosenFlags($event)" />
    <app-characters></app-characters>
  </section>
  <hr />
  <section>
    <h4>Test String</h4>
    <textarea class="regex-section" formControlName="testStringControl"></textarea>
  </section>
  <section>
    <h4>Matches</h4>
    <textarea class="regex-section">{{ matchingPatterns() }}</textarea>
  </section>
</form>
