<form [formGroup]="regexForm">
  <section>
    <div class="two-column-grid">
      <div class="grid-item">
        <span class="form-control">
          /<input
            type="text"
            formControlName="regexControl"
            [attr.size]="regexControlValue.length || -1"
            placeholder="Enter regex here"
          />/{{ chosenFlags() }}
        </span>
        <hr />
        <section>
          <h4>Test String</h4>
          <textarea class="regex-section" formControlName="testStringControl"></textarea>
        </section>
        <section>
          <h4>Matches</h4>
          <textarea class="regex-section">{{ matchingPatterns() }}</textarea>
        </section>
      </div>
      <div class="grid-item">
        <app-flags (chosenFlags)="onChosenFlags($event)" />
        <br />
        <app-characters />
      </div>
    </div>
  </section>
</form>
